body {
  background:url(../static/website-design-background.png);
  background-size: 100%;
}
@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 50px Raleway;
    margin: 0px 25px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.container1 a
{
    color: #FFF;
    text-decoration: none;
    font: 50px Raleway;
    margin: 0px 25px;
    padding: 10px 10px;
    position: absolute;
    right: 15%;
    top:40%;
    z-index: 0;
    cursor: pointer;
}

div.container2 a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
   	margin: 0 auto;
    padding: 10px 10px;
    position: absolute;
    left: 2%;
    top:10%;
    z-index: 0;
    cursor: pointer;
}
div.pagination a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
   	margin: 0 auto;
    padding: 10px 10px;
    position: absolute;
    left: 2%;
    top:20%;
    z-index: 0;
    cursor: pointer;
}
div.usr_display
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 0;
	position: absolute;
	text-align: center;
	top:9%	;
	left:65%;	
}

div.usr_display a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 25px;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}

/* Border X get width  */
div.borderXwidth a:before,
div.borderXwidth a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #fff;
  transition: all 0.3s;
}

div.borderXwidth a:before {
  left: 0px;
  top: 0px;
}

div.borderXwidth a:after {
  right: 0px;
  bottom: 0px;
}

div.borderXwidth a:hover:before,
div.borderXwidth a:hover:after {
  opacity: 1;
  width: 100%;
}


/*Worksnap Menu*/
.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 900px;
	padding:50px;
	background:rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;  
}
.box h2
{
	
	margin:0 0 45px;
	padding: 0px;
	color: #fff;
	text-align: center; 

}
.box_h1
{
	margin:0 0 180px;
	padding: 0px;
	color: #fff;
	text-align: center; 
}
.box .inputBox
{
	position: relative;
}
.box .inputBox input
{
	width: 60%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	outline: none;
	background:transparent;
}
.box .inputBox textarea
{
	width: 60%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none !important;
	border-bottom: 1px solid #fff !important;
	outline: none;
	background:transparent;
}

.box .inputBox label
{
	position: absolute;
	top: 0;
	left:0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;

}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}

.box .inputBox textarea:focus ~ label,
.box .inputBox textarea:valid ~ label
{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.box input[type="submit"]
{
	background: transparent;
	border:none;
	outline: none;
	color: #fff;
	background:#03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.box1
{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 900px;
	padding:50px;
	background:rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;  
}
/* css for index Admin login*/
.box2
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	padding:10px;
	background:rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;  
}


.box2 h2
{
	
	margin:0 0 30px;
	padding: 0px;
	color: #fff;
	text-align: center; 

}
.box2 .inputBox
{
	position: relative;
}
.box2 .inputBox input
{
	width: 60%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	outline: none;
	background:transparent;
}

.box2 .inputBox label
{
	position: absolute;
	top: 0;
	left:0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;

}
.box2 .inputBox input:focus ~ label,
.box2 .inputBox input:valid ~ label

{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.box2 input[type="submit"]
{
	background: transparent;
	border:none;
	outline: none;
	color: #fff;
	background:#03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
} 	


.day
{	
	position: absolute;
	right:235px;
	font-size: 22px;
	top:122px;                     
	padding: 10px;
	color: #fff;
	

}
.month
{	
	position: absolute;
	right:55px;
	font-size: 22px;
	top:122px;                     
	padding: 10px;
	color: #fff;
	

}

.box1 input[type="submit"]
{
	background: transparent;
	border:none;
	outline: none;
	color: #fff;
	background:#03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.center{
	position: absolute;
	top: 48%;
	left: 77%;
	transform: translate(-50%,-50%);
}
input[type="checkbox"]
{
	position: relative;
	width: 40px;
	height: 20px;
	-webkit-appearance:none;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	transition: .5s;
	background: #d3d3d3;
}
input:checked[type="checkbox"]
{
	background: #03a9f4;
	top: 50%;
	left: 30%;
}
input[type="checkbox"]:before
{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}
input:checked[type="checkbox"]:before
{
	left: 20px;
}
label
{
	color: #fff;
}
.text{
	position: absolute;
	top: 40%;
	left: 55%;
	transform: translate(-50%);
}
.text1{
	position: absolute;
	top: 60%;
	left: 55%;
	transform: translate(-50%);
}
.inputBox1
{
	position: absolute;
	top: 50%;
	left: 15%;
	transform:translate(-50%,-50%);
}
.inputBox1 select
{
	width: 120%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	outline: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background:#121211;
}
.inputBox3
{
        position: absolute;
        top: 50%;
        left: 43%;
        transform:translate(-50%,-50%);
}
.inputBox3 select
{
        width: 130%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border:none;
        outline: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background:#121211;
}

/*.box1:before
{
	content: '\f150' ;
	font-family: "Font Awesome 5 Free";
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 28px; 
	pointer-events: none;
	position: absolute;
	top: -5;
	right: 0;
	width: 50px;
	height: 50px;
	background: none;

}

*/
.inputBox2
{
	position: absolute;
	top: 67%;
	left: 43.5%;
	transform:translate(-50%,-50%);
}
.inputBox2 select
{
	width: 120%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	outline: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background:#121211;
}
/*.box2:before
{
	content: '\f150' ;
	font-family: "Font Awesome 5 Free";
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 28px; 
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: #007ce0;

*/
.inputBox4
{
        position: absolute;
        top: 50%;
        left: 15%;
        transform:translate(-50%,-50%);
}
.inputBox4 select
{
        width: 120%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border:none;
        outline: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background:#121211;
}


.inputBox select
{
        width: 40%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border:none;
        outline: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background:#121211;
}

.cal
{	
	position: absolute;
	right:0px;
	font-size: 22px;
	top:17.7%;                     
	padding: 10px;
	color: #fff;
	

}
