<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0;padding: 0">
  <table style="margin: 0; padding: 0">
    <tbody>
        <tr>
            <td>
                Hi {{ recipent }},
                <br />
            </td>
            
        </tr>
        <tr>
            <td>
                <p>The list of employees with their daily report status for date {{ date }} is attached with this mail.</p>

                <br />
            </td>
        </tr>
        <tr>
            <td>
                <p>Regards,</p>
                <p>S7works Team.</p>
            </td>
        </tr>
    <tbody>
  </table>
</body>
</html>
